@import './utils.scss';

@include images(
  (
    (
      name: add-tag,
      pathName: icon/add-tag,
      suffix: '.svg',
      size: (
        12px,
        12px
      )
    ),
    (
      name: add-xx,
      pathName: icon/add-xx,
      suffix: '.svg',
      size: (
        12px,
        12px
      )
    ),
  )
);
